* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "League Spartan", sans-serif;
}

/* NavBar and Header CSS */
.navbar {
  background-color: #555555;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-btn , .closee-btn {
  display: none;
}
.navbarr {
  display: block;
  position: fixed;
  background-color: black;
  height: 100%;
  width: 150px;
  left: 0;
  z-index: 20000;
  transition: 850ms;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: #fff;
  top: 0;
  left: -100%;
}
.navbarr.activee {
  left: 0;
  transition: 350ms;
}
.logoCon {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-left: 2rem;
}
.logo {
  width: 25vw;
  margin: 30px auto;
}

.search-box {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcb900;
  padding: 45px 50px;
  /* border-radius: 0 20px 0 0; */
}
.search-box-icon {
  color: #ffff;
  font-size: 20px;
}
.menu-list-nav {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #fcb900;
  padding: 2rem 0;
  height: 100%;
  background-color: #ffff;
}

.menu-items {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

.menu-items .menuButton {
  display: none;
}
.nav-links {
  color: #555555;
  font-weight: 500;
  font-size: 14px;
  transition: 0.4s linear;
}
.nav-links:active,
.nav-links:hover {
  color: #fcb900;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid #fcb900;
  padding-bottom: 3px;
}

/* Footer CSS Styling */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #555555;
  color: #ffff;
  padding: 40px 50px;
  /* border-radius: 0 0 20px 20px; */
}
.footer-logo {
  width: 22vw;
  margin-bottom: 1rem;
}
.footer-logo .icon {
  color: #ffff;
  font-size: 19px;
  display: flex;
  gap: 1.5rem;
}
.footer a {
  color: #fff;
}
.footer h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.footer li {
  margin-bottom: 10px;
}
.footer .footer-contact p,
.footer .footer-pages li {
  color: #ffff;
  font-weight: 500;
  font-size: 14px;
}
.footer-subscription input {
  width: 250px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  outline: none;
}
.footer-subscription .submit-button button {
  background: #fcb900;
  color: #ffff;
  box-shadow: 0px 4px 23px 1px rgba(252, 185, 0, 0.25);
  border-radius: 6px;
  border: none;
  width: 100px;
  padding: 10px;
  margin: 15px 0px;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 992px) {
  .logo {
    width: 35vw;
    margin: 30px auto;
  }
  .logoCon {

    padding-left: 0rem;
  }
  .menu-list {
    padding: 20px 150px;
  }
  .nav-links {
    font-size: 16px;
    font-weight: 600;
  }
  .footer {
    padding: 40px 75px;
  }
  .menu-list-nav {
    flex-direction: column;
    justify-content: flex-start;
  }
  .menu-btn , .closee-btn {
    display: block;
  }
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .footer-pages {
    margin-bottom: 2rem;
  }
  .footer .footer-logo {
    margin-bottom: 2rem;
  }
  .footer .footer-contact {
    margin-bottom: 2rem;
  }
}

@media (max-width: 540px) {
  .logo {
    width: 50vw;
    margin: 30px auto;
  }

  .search-box {
    width: 50px;
    padding: 45px 50px;
  }
}

@media (max-width: 420px) {
  .footer {
    flex-direction: column;
  }
  .footer {
    padding: 40px 2.5rem;
  }
}
