/* styling For Caurosel Section */
.container {
  /* padding: 3rem; */
  margin: 3rem ;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}
button {
    cursor: pointer;
}
.sliderContainer {
  width: 60vw;
}

.swiperImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* aside section */
.aside{
    /* width: 25%; */
    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.asideCol{
  /* position: relative; */
    height: 100%;
}
.asideBox{
    position: relative;
    height: 80%;
}
.asideImage{
    width: 23vw;
    height: 12vw;
    object-fit: cover;
    border-radius: 20px;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.813);
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    z-index: 1;
    padding: 14px 20px;
    border-radius: 0 0 20px 20px;
}
.asideText{
    position: absolute;
    z-index: 2;
    color: #fff;
}
.asideText p{
    color: #fff;
    font-size: 9px;
    font-weight: 600;
    padding: 0 5px;
}
.asideText h4{
    margin-bottom: .8rem;
    font-size: 13px;
    font-weight: 700;
}
.asideHeader h4{
  color: #555555;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  /* margin-bottom: 15px;
  margin-top: 20px; */
}


/* About Section */
.about {
  padding: 3rem;
}
.aboutBtn {
  margin: 0 0 40px 0;
}
.aboutBtn button {
  margin: 20px 65px ;
  padding: 15px;
  border-radius: 37px;
  width: 200px;
  background-color: rgba(252, 185, 0, 0.2);
  color: #FCB900;
  font-weight: 600;
  font-size: 16px;
  border: none;
}
.aboutCon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.aboutCon h3 {
  margin-bottom: 1rem;
  font-family: League Spartan;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #555555;
}
.aboutCon p,
.aboutCon li {
  font-family: League Spartan;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #555555;
}
.aboutCon li {
  margin-bottom: 0.5rem;
}
.aboutCon li span {
  color: #FF6900;
    font-weight: 700;
}
.boxSection {
  padding: 3rem;
  
}
.boxCon {
  display: flex;
  gap: 1.5rem;
}
.box {
  padding: 30px 10px 0 30px;
  width: 26vw;
  border-radius: 15px;
  box-shadow: 0px 2px 21px -6px rgba(0, 0, 0, 0.25);
 
}
.box h3 {
  margin-bottom: 1.2rem;
  font-size: 16px;
  font-weight: 600;
  color: #555555;
}
.box h4 {
  margin-bottom: 0.7rem;
  font-family: League Spartan;
  font-size: 12px;
  color: #555555;
  font-weight: 700;
}
.swiperFlex {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
 
}
.swiperFlexImage {
  width: 25vw;
}
.swiperImagee {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 15.9629px;
}

.author,
.date {
  font-family: League Spartan;
  font-size: 10px;
  color: #555555;
  font-weight: 600;
  margin-top: 7px;
}
.swiperText button{
  background:  #FCB900;
  color: #fff;
  box-shadow: 0px 4px 23px 1px ;
  border-radius: 6px;
  padding: 10px;
  font-size: 12px;
  width: 100px;
  margin-top: 15px;

}
.navigationBtns{
    display: flex;
    gap: 1.3rem;
    padding-bottom: 2rem;
    margin: 1rem;
}
.swiperArrow{
    width: 30px;
    cursor: pointer;
}


/* Insight Page */
.content1Paragraph,
.content1Header{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content1Header h4{
  font-weight: 700;
  font-size: 20px;
  width: 350px;
  color: #555555;
  margin: 2rem 0 0rem 0;
  font-family: League Spartan;  
}
.content1Paragraph p{
  margin-right: 3rem;
  font-weight: 600;
  font-size: 12px;
  color: #555555;
  margin: 2rem 0 2rem 0;
  font-family: League Spartan;  
}

.content1Image{
  align-items: center;
  justify-content: center;
  text-align: center;
 
}

.contentImage{
 width: 70vw;
 object-fit: contain;
 border-radius: 20px;
 margin-bottom: 2rem;
}

.content1Body{
  margin: 2rem 6rem;
}

.content1Body p{
  color: #555555;
  font-size: 14px;
  line-height: 22px;
  /* line-height: 1rem; */
  margin-bottom: 8px;
  font-weight: 500;
  font-family: 'League Spartan';


}

.content1Button{
  display: flex;
}
.content1Body button{
  background-color: #fff;
  /* color: #555555; */
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: .3rem;
  margin-right: 5px;
  
}
.content1Body span svg {
  font-size: 12px;
  margin-top: 0.5rem;
}
/* .text span {
  font-size: 12px;
  margin-top: 2rem;
  display:  flex;
  gap: 4rem;
} */

/* EduData Page */
.mycarousel{
  display: flex;
  justify-content: center;
  width: 70vw;
  align-items: center;
  margin: 3rem 0rem;

}

.mycarouselimage{
  width: 100%;
  border-radius: 37px;
}

.grid{
  margin: 5rem;
}

.gridHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.gridHeader h4{
font-family: 'League Spartan';
font-style: normal;
font-weight: 600;
font-size: 20px;
color: #555555;
}

.grid3Column{
  display: grid;
  gap: 2rem;
  /* width: 400px; */
  grid-template-columns: repeat(3, 1fr);
}

.grid3ColumnflowImage{
  margin-bottom: 0.5rem;
  border-radius: 29.6624px;
  width: 30vw;
  /* height: 220px; */
}

.grid3ColumnText{
  margin-left: 6px;
}

.grid3ColumnText h4{
  font-size: 15px;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  color: #555555;
  margin-bottom: 5px;
}

.grid3ColumnText p{
  font-size: 12px;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 500;
  color: #555555;
  margin-bottom: 7px;
}

.grid3ColumnText h6{
  font-size: 12px;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 500;
  color: #FF6900;
  margin-bottom: 7px;
  margin-top: 7px;
}

.grid3ColumnButton {
  margin-left: 6px;
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;

}

.grid3ColumnButton button:first-child{
  background-color: #fff;
  color: #FCB900;
  font-size: 14px;
  padding: 10px 15px;
  border: 2px solid #FCB900;
  width: 15vw;
  border-radius: 6px;
}

.grid3ColumnButton button:last-child{
  background-color: #FCB900;
  color:#fff ;
  font-size: 14px;
  padding: 10px 15px;
  border: 2px solid #FCB900;
  width: 15vw;
  border-radius: 6px;
}
.actionBtns{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 13px;
}
.animation{
  transition: all .4s ease;
}
.closeBtn{
  color: #EE0000;

}

/* Edusupport Page */
.selectButton{
  margin: 1rem 0.5rem 2rem ;
  border-radius: 6px;
}
.grid h2{
  color: #555555;
  font-size: 22px;
  font-weight: 600;
  margin-left: 0.5rem;
}
.selectButton button:first-child{
  background-color: #FCB900;
  color:#fff ;
  font-size: 14px;
  padding: 10px 15px;
}

.selectButton button{
    background-color: #fff;
    color: #555555;
    font-size: 14px;
    padding: 10px 15px;
    border: 1px solid #FCB900;
}

/* About Us Page */
.aboutTeam,
.aboutDetails{
  margin: 5rem;
}

.aboutTeamHeader,
.aboutDetailsHeader{
 display: flex;
 justify-content: center;
  margin: 3rem 0rem 3rem;
}

.aboutTeamHeader h3,
.aboutDetailsHeader h3{
  background-color: rgba(252, 185, 0, 0.2);
  color: #FCB900;
  padding: 15px 25px;
  border-radius: 37px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'League Spartan';
  width: 150px;
  text-align: center;
}

.aboutDetailsBody p{
  color: #555555;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 8px;
  font-weight: 500;
  font-family: 'League Spartan';

} 

.grid2Columnflow{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-bottom: 2rem;
}

.grid2ColumnflowImage{
  border-radius: 37px;
  width: 40vw;
}
.grid2ColumnText{
  margin-top: 3rem ;
}
.grid2ColumnText h4{
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #555555;
  margin-bottom: 0.5rem;
}

.grid2ColumnText h6{
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: rgba(85, 85, 85, 0.6);;
  margin-bottom: 0.5rem;
}

.aboutIcon{
  font-size: 20px;
  display: flex;
  gap: 1.5rem;
  margin-bottom:1rem ;
}

.aboutIcon a{
  color: #555555;
}

.grid2ColumnText p{
  color: #555555;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 8px;
  font-weight: 500;
  font-family: 'League Spartan';
}

@media (max-width: 992px) {
  .container{
    display:block;
    width: 100%;
    margin: 3rem 0;
  }
  .aside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
    margin: 5rem 6rem;
  }

  .asideImage{
    width: 35vw;
    height: 18vw;
    
}

  .overlay{
    height: 4vh;
    padding: 10px 13px;
  }
  .sliderContainer{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
  }
  .swiperImage{
    width: 100%;
  }

  .about{
    margin-top:2rem ;
  }

  .boxCon{
    padding: 0 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
  } 
  .box{
    width: 42%;
  }
  .aboutCon {
    padding: 0 2rem;
  }

  .grid3Column{
    grid-template-columns: repeat(2, 1fr);
  }

  .grid3ColumnflowImage{
    width: 30vw;
    /* height: 220px; */
  }
  .grid2ColumnText{
    margin-top: 0.5rem ;
  }

  .grid2ColumnflowImage{
    width: 40vw;
    height: 25vh;
  }


}

@media (max-width: 768px){
  .overlay{
    height: 5vh;
  }

  .aboutCon {
    grid-template-columns: 1fr ;
    padding: 0 2rem;
  }
  .content1Body{
    margin: 2rem 3rem;
  }

 
.grid2Columnflow{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.grid2ColumnflowImage{
  width: 60vw;
}


}

@media (max-width: 540px){
  .aside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    margin: 5rem 6rem;
  }

  .asideImage{
    width: 34vw;
    height: 18vh;
  }

  .overlay{
    height: 7vh;
  }

  .asideText h4{
    margin-bottom: .5rem;
    font-size: 11px;
  }

  .asideText p{
    font-size: 8px;
    font-weight: 700;
}

  .boxCon{
    width: 100%;
    padding: auto;
    
  } 
  .box{
    width: 50vh;
  }

  .content1Body{
    margin: 1rem 2rem;
  }
  .aboutTeam,
  .aboutDetails{
  margin: 5rem 2rem;
}
}

@media (max-width: 420px){
  .aside{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    justify-content: center;
    align-items: center;
  }

  .asideImage{
    width: 70vw;
    height: 20vh;
    
  }

  .asideText h4{
    margin-bottom: .5rem;
    font-size: 12px;
  }

  .asideText p{
    font-size: 9px;
    font-weight: 700;
}
.box{
  width: 28vh;
}

.grid3Column{
  grid-template-columns: repeat(1, 1fr);
}

.grid3ColumnflowImage{
  width: 60vw;
}

.grid{
  margin: 4rem 2rem;
}

.grid3ColumnButton button:first-child{
  background-color: #fff;
  color: #FCB900;
  font-size: 14px;
  padding: 10px 15px;
  border: 2px solid #FCB900;
  width: 25vw;
  border-radius: 6px;
}

.grid3ColumnButton button:last-child{
  background-color: #FCB900;
  color:#fff ;
  font-size: 14px;
  padding: 10px 15px;
  border: 2px solid #FCB900;
  width: 25vw;
  border-radius: 6px;
}
}