/* styling For Caurosel Section */
.container {
  padding: 3rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  height: 450px;
}
button {
    cursor: pointer;
}
.sliderContainer {
  width: 70%;
}

.mySwiper {
  height: 100%;
}
.swiperImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* aside section */
.aside{
    width: 30%;
    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.asideBox{
    position: relative;
    height: 47%;
}
.asideImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.813);
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    z-index: 1;
    padding: 10px 20px;
    border-radius: 0 0 20px 20px;
}
.asideText{
    position: absolute;
    z-index: 2;
    color: #fff;
}
.asideText p{
    color: #fff;
}
.asideText h4{
    margin-bottom: .8rem;
}


/* About Section */
.about {
  padding: 3rem;
}
.aboutBtn {
  margin: 0 0 40px 0;
}
.aboutBtn button {
  padding: 11px 15px;
  border-radius: 10px;
  background-color: #fcb90033;
  color: #fcb900;
  font-size: 1.7rem;
}
.aboutCon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.aboutCon h3 {
  margin-bottom: 1rem;
  font-family: League Spartan;
  font-size: 24px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #555555;
}
.aboutCon p,
.aboutCon li {
  font-family: League Spartan;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #555555;
}
.aboutCon li {
  margin-bottom: 0.7rem;
}
.aboutCon li span {
  color: #ff6900;
  font-weight: 800;
}
.boxSection {
  padding: 3rem;
}
.boxCon {
  display: flex;
  gap: 1.5rem;
}
.box {
  padding: 30px 0px 70px 30px;
  width: 30%;
  border-radius: 15px;
  box-shadow: 0px 2px 21px -6px rgba(0, 0, 0, 0.25);
 
}
.box h3 {
  margin-bottom: 1.2rem;
}
.box h4 {
  margin-bottom: 0.7rem;
}
.swiperFlex {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
 
}
.swiperFlexImage {
  width: 160px;
}
.swiperImagee {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.author,
.date {
  font-family: League Spartan;
  font-size: 10px;
  font-weight: 600;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
  color: #555555;
  margin-bottom: 0.5rem;
}
.swiperText button{
    padding: 9px 15px;
  border-radius: 10px;
  background-color: #fcb900;
  color: #fff ;
  font-size: .7rem;
  margin-top: 1rem;
 
}
.navigationBtns{
    display: flex;
    gap: 1.3rem;
    padding-bottom: 2rem; 
}
.swiperArrow{
    width: 30px;
    cursor: pointer;
}