/* styling For Caurosel Section */
.container {
  /* padding: 3rem; */
  margin-left: 3rem ;
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
  /* justify-content: space-between;*/
} 
button {
    cursor: pointer;
}
.sliderContainer {
  width: 62vw;
}

.swiperImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* aside section */
.aside{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.asideBox{
    position: relative;
    height: 80%;
    width: 28vw;
}
.asideImage{
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: 20px;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.813);
    bottom: -5px;
    left: 0;
    height: 50px;
    width: 25vw;
    z-index: 1;
    padding: 20px 20px;
    border-radius: 0 0 20px 20px;
}
.asideText{
    position: absolute;
    z-index: 2;
    color: #fff;
}
.asideText p{
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    padding: 0 5px;
}
.asideText h4{
    margin-bottom: .8rem;
    font-size: 14px;
    font-weight: 700;
}
.asideHeader h4{
  color: #555555;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  margin-top: 3px;
  margin-bottom: 2px;
}


/* About Section */
.about {
  padding: 3rem;
}
.aboutBtn {
  margin: 0 0 40px 0;
}
.aboutBtn button {
  margin: 20px 65px ;
  padding: 15px;
  border-radius: 37px;
  width: 200px;
  background-color: rgba(252, 185, 0, 0.2);
  color: #FCB900;
  font-weight: 600;
  font-size: 16px;
  border: none;
}
.aboutCon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.aboutCon h3 {
  margin-bottom: 1rem;
  font-family: League Spartan;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #555555;
}
.aboutCon p,
.aboutCon li {
  font-family: League Spartan;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #555555;
}
.aboutCon li {
  margin-bottom: 0.5rem;
}
.aboutCon li span {
  color: #FF6900;
    font-weight: 700;
}
.boxSection {
  padding: 3rem;
  
}
.boxCon {
  display: flex;
  gap: 1.5rem;
}
.box {
  padding: 30px 10px 0 30px;
  width: 26vw;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 2px 21px -6px rgba(0, 0, 0, 0.25);
 
}
.box h3 {
  margin-bottom: 1.2rem;
  font-size: 20px;
  font-weight: 600;
  color: #555555;
}
.box h4 {
  margin-bottom: 0.7rem;
  font-family: League Spartan;
  font-size: 15px;
  color: #555555;
  font-weight: 700;
}
.swiperFlex {
  /* display: flex;
  gap: 1rem;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  padding-bottom: 20%;
 
}

/* .swiperImagee {
  object-fit: cover;
  width: 100%;
  height: 100%; */

/* .swiperFlexImage {
  width: 25vw;
} */
.swiperImagee {
  object-fit: contain;
  width: 13vw;
  height: 18vh;
  border-radius: 15.9629px;
}


.author,
.date {
  font-family: League Spartan;
  font-size: 14px;
  color: #555555;
  font-weight: 600;
  margin-top: 7px;
}
.swiperText button{
  background:  #FCB900;
  color: #fff;
  box-shadow: 0px 4px 23px 1px ;
  border-radius: 6px;
  padding: 10px;
  font-size: 12px;
  width: 100px;
  margin-top: 15px;

}
.swiperText button a{
  color: #fff;
}
.navigationBtns{
    display: flex;
    gap: 1.3rem;
    padding-bottom: 2rem;
    margin: 1rem;
}
.swiperArrow{
   color: #FCB900;
   font-size: 2rem;
   cursor: pointer;
}


/* Insight Page */

.content1Paragraph,
.content1Header{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content1Header h4{
  font-weight: 700;
  font-size: 20px;
  width: 350px;
  color: #555555;
  margin: 2rem 0 0rem 0;
  font-family: League Spartan;  
}
.content1Paragraph p{
  font-weight: 600;
  font-size: 13px;
  color: #555555;
  margin: 2rem 0 2rem 0;
  font-family: League Spartan;  
}

.content1Image{
  align-items: center;
  justify-content: center;
  text-align: center;
 
}

.contentImage{
 width: 70vw;
 object-fit: contain;
 border-radius: 20px;
 margin-bottom: 2rem;
}

.content1Body{
  margin: 2rem 3rem;
}

.content1Body p{
  color: #555555;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 8px;
  font-weight: 500;
  font-family: 'League Spartan';


}


.grid3ColumnShowButton button{
  background-color: #FCB900;
  color:#fff ;
  font-size: 14px;
  padding: 10px 15px;
  border: 2px solid #FCB900;
  width: 100px;
  border-radius: 6px;
}

.grid3ColumnShowButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.share{
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 3rem;
}

.share h6{
  display: flex;
  gap: 0.2rem;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.content1Close{
  display: flex;
  justify-content: end;
  margin-top: 2rem;
 
  /* position: fixed; */
}
.content1Close button{
  background-color: #fff;
}
.ModalContentImage{
  width: 50vw;
  
}
.ModalContentImg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalContent p,
.ModalContent h4{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}




/* EduData Page */
.carouselContainer{
  width: 50vw;
  margin: 3rem auto;
}
.mycarousel{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 3rem 0rem;

}

.mycarouselimage{
  /* width: 100%; */
  height: auto; 
  border-radius: 50px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid{
  margin: 5rem;
}

.gridHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.gridHeader h4{
font-family: 'League Spartan';
font-style: normal;
font-weight: 600;
font-size: 20px;
color: #555555;
}

.grid3Column{
  display: grid;
  gap: 2rem;
  /* width: 400px; */
  grid-template-columns: repeat(3, 1fr);
}

.grid3ColumnflowImagee,
.grid3ColumnflowImage{
  margin-bottom: 0.5rem;
  border-radius: 29.6624px;
  width: 25vw;
  height: 220px;
  object-fit: contain;
}

/* .grid3ColumnText{
  margin-top: 1rem;
} */

.gridColumnText{
  margin-left: 6px;
}

.gridColumnButton button{
  color: #fff;
  background-color: #FCB900;
  font-size: 14px;
  padding: 10px 15px;
  border: 2px solid #FCB900;
  width: 120px;
  border-radius: 6px;
  margin-left: 6px;
  margin-top: 1rem;
}

/* .grid3ColumnText h4{
  font-size: 18px;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  color: #555555;
  margin-bottom: 5px;
  text-align: center;
} */

/* .grid3ColumnText p{
  font-size: 15px;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 500;
  color: #555555;
  margin-bottom: 7px;
  text-align: center;
  margin-top: 0.85rem;
} */

.gridColumnText h4{
  font-size: 18px;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  color: #555555;
  margin-bottom: 5px;
}

.gridColumnText h6{
  font-size: 12px;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 500;
  color: #FF6900;
  margin-bottom: 7px;
  margin-top: 7px;
}

.grid3ColumnButton {
  margin-left: 6px;
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;

}

.grid3ColumnButton button:first-child{
  background-color: #fff;
  color: #FCB900;
  font-size: 14px;
  padding: 10px 15px;
  border: 2px solid #FCB900;
  width: 120px;
  border-radius: 6px;
}
.grid3ColumnButton button a{
  color: #ffff;
}

.grid3ColumnButton button:last-child{
  background-color: #FCB900;
  color:#fff ;
  font-size: 14px;
  padding: 10px 15px;
  border: 2px solid #FCB900;
  width: 120px;
  border-radius: 6px;
}
.actionBtns{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 13px;
}
.animation{
  transition: all .4s ease;
}
.closeBtn{
  color: #EE0000;

}


/* Edusupport Page */
.selectButton{
  margin: 1rem 0.5rem 2rem ;
  border-radius: 6px;
}
.grid h2{
  color: #555555;
  font-size: 22px;
  font-weight: 600;
  margin-left: 0.5rem;
}
.select-button-clicked {
  background-color: #FCB900;
  color:#fff ;
  font-size: 14px;
  padding: 10px 15px;
}

.selectButton button{
    background-color: #fff;
    color: #555555;
    font-size: 14px;
    padding: 10px 15px;
    border: 1px solid #FCB900;
}



/* About Us Page */
.aboutTeam,
.aboutDetails{
  margin: 5rem;
}

.aboutTeamHeader,
.aboutDetailsHeader{
 display: flex;
 justify-content: center;
  margin: 3rem 0rem 3rem;
}

.aboutTeamHeader h3,
.aboutDetailsHeader h3{
  background-color: rgba(252, 185, 0, 0.2);
  color: #FCB900;
  padding: 15px 25px;
  border-radius: 37px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'League Spartan';
  width: 150px;
  text-align: center;
}

.aboutDetailsBody p{
  color: #555555;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 8px;
  font-weight: 500;
  font-family: 'League Spartan';

} 

.grid2Columnflow{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-bottom: 2rem;
}

.grid2ColumnflowImage{
  border-radius: 37px;
  width: 40vw;
}
.grid2ColumnText{
  margin-top: 3rem ;
}
.grid2ColumnText h4{
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #555555;
  margin-bottom: 0.5rem;
}

.grid2ColumnText h6{
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: rgba(85, 85, 85, 0.6);;
  margin-bottom: 0.5rem;
}

.aboutIcon{
  font-size: 20px;
  display: flex;
  gap: 1.5rem;
  margin-bottom:1rem ;
}

.aboutIcon a{
  color: #555555;
}

.grid2ColumnText p{
  color: #555555;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 8px;
  font-weight: 500;
  font-family: 'League Spartan';
}

/* Edu Support View Page */
.view{
  margin: 3rem 0;
}
.viewImage{
  width: 60vw;
  border-radius: 37px;
}

.viewImg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewText {
  margin: 2rem 8rem 2rem 8rem;
}

.viewText h4{
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 700;
  color: #555555;
}

.viewText h6{
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 500;
  color: #555555;
}

.viewText p{
  font-size: 14px;
  font-weight: 500;
  color: #555555;
  line-height: 22px;
  font-family: 'League Spartan';
}

/* Insight share Page Styling */
.shareAuthor,
.shareHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.shareHeader h4{
  font-weight: 700;
  font-size: 22px;
  width: 350px;
  color: #555555;
  margin: 2rem 0 0rem 0;
  font-family: League Spartan;
}

.shareAuthor p{
  font-weight: 600;
  font-size: 16px;
  color: #555555;
  margin: 2rem 0 2rem 0;
  font-family: League Spartan;  
}

.shareImage{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.shareImagee{
  height: auto;
  /* object-fit: contain; */
  border-radius: 20px;
  margin-bottom: 2rem;
}

.shareText{
  margin: 2rem 3rem;
}

.shareText p{
  color: #555555;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: 'League Spartan';
  margin-bottom: 1rem;
}
table{
  margin-bottom: 1rem;
}
th, th p b{
  background-color: #555555;
  color: #fff;
}

table, td, th {
  border: 1px solid;
  padding: 0.3rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.goButton {
  background: rgb(252, 185, 0);
  color: rgb(255, 255, 255);
  box-shadow: rgb(252 185 0 / 25%) 0px 4px 23px 1px;
  border-radius: 6px;
  border: none;
  width: 100px;
  padding: 10px;
  margin: 15px 0px;
  font-size: 14px;
  font-weight: 600;

}

.goButtonCon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.content1Modal{
  position: absolute;
  top: 40px;
  left: 50px;
  right: 50px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  /* Webkit-OverflowScrolling: 'touch'; */
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.content1ModalOverlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: grey; 
}

.moreSection{
  margin: 4rem;
}

.moreSection h1{
  margin-bottom: 1rem;
  font-family: League Spartan;
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #555555;
}

.moreSectionGrids{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.moreSectionGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background: #FFFFFF;
  box-shadow: 0px 2px 21px -6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 2rem 1rem;
}

.moreSection h3{
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    font-family: League Spartan;
    font-size: 15px;
    color: #555555;
    font-weight: 700
}

.moreSection p{
    font-family: "League Spartan";
    font-size: 14px;
    color: rgb(85, 85, 85);
    font-weight: 600;
    margin-top: 7px;
}


.moreSection button{
  background: rgb(252, 185, 0);
    color: rgb(255, 255, 255);
    box-shadow: rgb(252 185 0 / 25%) 0px 4px 23px 1px;
    border-radius: 6px;
    border: none;
    width: 100px;
    padding: 10px;
    margin: 15px 0px;
    font-size: 14px;
    font-weight: 600;
}

.moreSection button a {
  color: rgb(255, 255, 255);
}
.moreSectionGridImage{
  /* width: 180px; */
  margin-top: 1rem;
  object-fit: cover;
  
}

.moreSectionGridImg{
  /* width: 100%; */
  /* object-fit: cover; */
  border-radius: 15px;
}

.grid2ColumnflowImg,
.grid3ColumnflowImg{
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.insightContent{
  margin: 0 7rem;
}

@media(min-width: 1024px) {
  .grid3ColumnflowImagee, .grid3ColumnflowImage {
    margin-bottom: 0.5rem;
    border-radius: 29.6624px;
    width: 25vw;
    height: 200px;
    object-fit: contain;
}
  
}

@media(min-width: 1400px) {
  .overlay{
    bottom: -20px;
    width: 26vw;
}

.moreSectionGridImage{
  width: 250px;
}

.shareText p {
  font-size: 20px;
}

.shareAuthor p {
  font-size: 20px;
}

.shareHeader h4 {
  font-size: 28px;
  width: 500px;
}
.grid2ColumnflowImg,
.grid3ColumnflowImg{
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.grid3ColumnflowImagee,
.grid3ColumnflowImage{
  width: 29.5vw;
  height: 400px;
}

.container{
  margin-left: 4.5rem;
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
}

.about{
  padding: 4.5rem;
}

.boxSection{
  padding: 4.5rem;
}

.box {
  width: 28vw;
}
}


@media(min-width: 2500px) {
  .overlay{
    bottom: -45px;
    width: 26.5vw;
}
.boxSection{
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxCon{
  display: flex;
  gap: 4rem;
}

.moreSectionGrids {
  gap: 4rem;
}
.moreSectionGrid{
  grid-template-columns: 1fr 0.75fr;
}
.moreSectionGridImage{
  width: 400px;
}

.moreSection h3{
  margin-top: 4rem;
}
.moreSectionGridImage{
  width: 250px;
}

.shareText p {
  font-size: 22px;
}

.shareAuthor p {
  font-size: 22px;
}

.shareHeader h4 {
  font-size: 30px;
  width: 500px;
} 

.grid3ColumnflowImagee,
.grid3ColumnflowImage{
  width: 30vw;
  height: 550px;
  border-radius: 29.6624px;
}

.rid2ColumnflowImage{
  border-radius: 37px;
  width: 45vw;
}

.grid3ColumnflowImagee{
  justify-self: start;
}
.gridColumnText h4 {
  font-size: 24px;
}

.gridColumnText p{
  font-size: 20px;
}
}

@media (max-width: 992px) {
  .container{
    display:block;
    width: 100%;
    margin: 3.5rem 0 3rem 0;
  }
  /* .carouselContainer {
    margin-top: 7rem;
    
  } */
  .aside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
    margin: 6rem ;
  }

  .asideImage{
    width: 35vw;
    height: 12vh;
  
}

.box{
  width: 40vw;
}

/* .boxCon{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
} */
/* .container {
  margin-top: 7rem;
  
} */
/* main{
  margin-top: 7rem;
}*/

  .overlay{
    width: 32vw;
    height: 4rem;
    padding: 10px 13px;
  }
  .sliderContainer{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
  }
  .swiperImage{
    width: 100%;
  }

  .about{
    margin-top:2rem ;
  }
  
  .moreSectionGrids{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  .boxCon{
    padding: 0 0  0 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
  } 
  .box{
    width: 42%;
  }
  .aboutCon {
    padding: 0 2rem;
  }

  .grid3Column{
    grid-template-columns: repeat(2, 1fr);
  }
  .grid3ColumnflowImagee,
  .grid3ColumnflowImage{
    width: 30vw;
    object-fit: contain;
    height: 180px;
  }
  .grid2ColumnText{
    margin-top: 0.5rem ;
  }

  .grid2ColumnflowImage{
    width: 40vw;
    object-fit: contain;

  }
  .insightContent{
    margin: 0 3rem;
  }

  .viewText {
    margin: 2rem 5rem 2rem 5rem;
  }

  .swiperImagee {
    object-fit: contain;
    width: 20vw;
    height: 18vh;
    border-radius: 15.9629px;
  }
}

@media (max-width: 768px){
  .aside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
    margin: 6rem ;
  }

  .asideImage{
    width: 35vw;
    height: 13vh;
    
}
  .overlay{
    height: 3.5rem;
  }

  .aboutCon {
    grid-template-columns: 1fr ;
    padding: 0 2rem;
  }
 
.grid2Columnflow{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  
}
.grid2ColumnflowImage{
  width: 60vw;
}

.swiperImagee {
  object-fit: contain;
  width: 18vw;
  height: 18vh;
  border-radius: 15.9629px;
}

.insightContent{
  margin: 0;
}
}

@media (max-width: 540px){
  .aside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    margin: 4rem;
  }

  .asideImage{
    width: 37vw;
    height: 18vh;
    
}

.grid3ColumnflowImagee, .grid3ColumnflowImage{
  width: 30vw;
  object-fit: contain;
  height: 120px;
}

.gridColumnText h4 {
  font-size: 16px;
}

.gridColumnText p {
  font-size: 13px;
}

  .overlay{
    height: 3rem;
    top: 4rem;
  }

  .asideText h4{
    margin-bottom: .5rem;
    font-size: 12px;
  }

  .asideText p{
    font-size: 9px;
    font-weight: 700;
}

  .boxCon{
    width: 100%;
    padding: auto;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
    
  } 
  .box{
    width: 50vh;
  }

  .boxSection {
    padding: 2rem;
    
  }

  .swiperImagee {
    object-fit: contain;
    width: 30vw;
    height: 18vh;
    border-radius: 15.9629px;
  }

  .grid2ColumnflowImage{
    width: 80vw;
  }


  .aboutTeam,
  .aboutDetails{
  margin: 5rem 2rem;
  text-align:justify;
}

.viewText {
  margin: 2rem 3rem 2rem 3rem;
}

.moreSectionGrids{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.content1Modal{
  position: absolute;
  top: 60px;
  left: 20px;
  right: 20px;
  bottom: 0px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  /* Webkit-OverflowScrolling: 'touch'; */
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.content1ModalOverlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:grey; 
}

.share{
  margin-left: 1rem;
}
}

@media (max-width: 480px){
  .aside{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 2.5rem;
    margin: 1.5rem;
  }

  .asideImage{
    width: 30vw;
    height: 18vh;
    
}

.boxCon{
  padding: 0;
}

  .overlay{
    width: 80.5vw;
    height: 3.5rem;
    top: 7rem;
  }

  .sliderContainer {
    width: 87vw;
    padding:  0 1.5rem;
  }

  .shareText{
    margin: 2rem 1.5rem;
  }
  .moreSection {
    margin: 1.5rem;
}

  .moreSection h1{
    font-size: 18px;
  }

  .moreSectionGridImage{
    width: 140px;
}

  .asideImage{
    width: 87vw;
    height: 20vh;
    
  }
  .grid2ColumnflowImage{
    width: 80vw;
  }

  .asideText h4{
    margin-bottom: .5rem;
    font-size: 12px;
  }

  .asideText p{
    font-size: 9px;
    font-weight: 700;
}
.box{
  width: 70vw;
}
.swiperFlex {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  align-items: center;
  gap: 1rem;
  padding-bottom: 20%;
 
}

.grid3Column{
  grid-template-columns: repeat(1, 1fr);
 

}

.grid2ColumnflowImg,
.grid3ColumnflowImg{
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.grid3ColumnText{
  text-align: center;
}


.grid3ColumnflowImagee,
.grid3ColumnflowImage{
  width: 80vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid3ColumnButton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid{
  margin: 4rem 2rem;
}

.grid3ColumnButton button:first-child{
  background-color: #fff;
  color: #FCB900;
  font-size: 14px;
  padding: 10px 15px;
  border: 2px solid #FCB900;
  width: 25vw;
  border-radius: 6px;
}

.grid3ColumnButton button:last-child{
  background-color: #FCB900;
  color:#fff ;
  font-size: 14px;
  padding: 10px 15px;
  border: 2px solid #FCB900;
  width: 25vw;
  border-radius: 6px;
}

.about {
  padding: 3rem 0.5rem;
  justify-content: center;
}

/* .boxSection {
  padding: 0.5rem;
  
} */

.swiperImagee {
  object-fit: contain;
  width: 35vw;
  height: 15vh;
}
.content1Body{
  margin: 0;
}

}

@media (max-width: 360px){
  .overlay{
    width: 80vw;
    height: 3.5rem;
    top: 4.5rem;
  }

  .aboutBtn {
   display: flex;
   justify-content: center;
   align-items: center;
  }



}

@media (max-width: 280px){
  .overlay{
    width: 77.5vw;
    height: 3.5rem;
    top: 3.5rem;
  }

  .swiperImagee {
    object-fit: contain;
    width: 30vw;
    height: 18vh;
    border-radius: 15.9629px;
  }

  .swiperText button{
    width: 80px;
    margin-top: 9px;
  
  }

  .grid3ColumnButton button:first-child{
    width: 100px;
  }

  .grid3ColumnButton button:last-child{
    width: 100px;
  }
  

}

